# 分类变量合并为一列去除重复项的问题解决

In [1]:
#eg
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4),columns=list('abcd'))
df['piple'] = ['piple','none','piple','none','ddddd','none','piple','none','none','none']
df['floor'] = ['floor','none', 'floor','none','none','floor','none','none','floor','none']
df['ddddd'] = ['none','ddddd','none','none','ddddd','none','none','ddddd','none','none']
df

          a         b         c         d  piple  floor  ddddd
0  0.509773 -0.539608 -0.318501  0.513616  piple  floor   none
1 -0.617985  1.085005  0.620772  0.431865   none   none  ddddd
2  0.496092 -0.672942  1.365315 -0.413600  piple  floor   none
3 -1.195208  0.455529  1.250692  0.324122   none   none   none
4 -0.991762  1.328619  1.605087  0.216845  ddddd   none  ddddd
5  0.068954 -1.084142  0.155389 -0.436742   none  floor   none
6 -0.788857 -0.434511  1.651096 -0.196294  piple   none   none
7 -0.079085  0.252427 -0.549940 -0.316898   none   none  ddddd
8  1.137373 -0.913777 -1.497667  2.093473   none  floor   none
9  0.855804  0.174805 -0.121944 -1.157168   none   none   none

## solution1:采用melt函数  wide data 转换为long data，去除重复

In [2]:
df1 = df.copy()
df1 = pd.melt(df1, id_vars=list('abcd'), var_name='dogs', value_name='stage')
df1

           a         b         c         d   dogs  stage
0   0.509773 -0.539608 -0.318501  0.513616  piple  piple
1  -0.617985  1.085005  0.620772  0.431865  piple   none
2   0.496092 -0.672942  1.365315 -0.413600  piple  piple
3  -1.195208  0.455529  1.250692  0.324122  piple   none
4  -0.991762  1.328619  1.605087  0.216845  piple  ddddd
5   0.068954 -1.084142  0.155389 -0.436742  piple   none
6  -0.788857 -0.434511  1.651096 -0.196294  piple  piple
7  -0.079085  0.252427 -0.549940 -0.316898  piple   none
8   1.137373 -0.913777 -1.497667  2.093473  piple   none
9   0.855804  0.174805 -0.121944 -1.157168  piple   none
10  0.509773 -0.539608 -0.318501  0.513616  floor  floor
11 -0.617985  1.085005  0.620772  0.431865  floor   none
12  0.496092 -0.672942  1.365315 -0.413600  floor  floor
13 -1.195208  0.455529  1.250692  0.324122  floor   none
14 -0.991762  1.328619  1.605087  0.216845  floor   none
15  0.068954 -1.084142  0.155389 -0.436742  floor  floor
16 -0.788857 -0.434511  1.651096 -0.196294  floor   none
17 -0.079085  0.252427 -0.549940 -0.316898  floor   none
18  1.137373 -0.913777 -1.497667  2.093473  floor  floor
19  0.855804  0.174805 -0.121944 -1.157168  floor   none
20  0.509773 -0.539608 -0.318501  0.513616  ddddd   none
21 -0.617985  1.085005  0.620772  0.431865  ddddd  ddddd
22  0.496092 -0.672942  1.365315 -0.413600  ddddd   none
23 -1.195208  0.455529  1.250692  0.324122  ddddd   none
24 -0.991762  1.328619  1.605087  0.216845  ddddd  ddddd
25  0.068954 -1.084142  0.155389 -0.436742  ddddd   none
26 -0.788857 -0.434511  1.651096 -0.196294  ddddd   none
27 -0.079085  0.252427 -0.549940 -0.316898  ddddd  ddddd
28  1.137373 -0.913777 -1.497667  2.093473  ddddd   none
29  0.855804  0.174805 -0.121944 -1.157168  ddddd   none

去除重复项

In [3]:
df1_val = df1[df1.stage != 'none']
df1_val

           a         b         c         d   dogs  stage
0   0.509773 -0.539608 -0.318501  0.513616  piple  piple
2   0.496092 -0.672942  1.365315 -0.413600  piple  piple
4  -0.991762  1.328619  1.605087  0.216845  piple  ddddd
6  -0.788857 -0.434511  1.651096 -0.196294  piple  piple
10  0.509773 -0.539608 -0.318501  0.513616  floor  floor
12  0.496092 -0.672942  1.365315 -0.413600  floor  floor
15  0.068954 -1.084142  0.155389 -0.436742  floor  floor
18  1.137373 -0.913777 -1.497667  2.093473  floor  floor
21 -0.617985  1.085005  0.620772  0.431865  ddddd  ddddd
24 -0.991762  1.328619  1.605087  0.216845  ddddd  ddddd
27 -0.079085  0.252427 -0.549940 -0.316898  ddddd  ddddd

In [4]:
df1_none = df1[df1.stage == 'none']
df1_none

           a         b         c         d   dogs stage
1  -0.617985  1.085005  0.620772  0.431865  piple  none
3  -1.195208  0.455529  1.250692  0.324122  piple  none
5   0.068954 -1.084142  0.155389 -0.436742  piple  none
7  -0.079085  0.252427 -0.549940 -0.316898  piple  none
8   1.137373 -0.913777 -1.497667  2.093473  piple  none
9   0.855804  0.174805 -0.121944 -1.157168  piple  none
11 -0.617985  1.085005  0.620772  0.431865  floor  none
13 -1.195208  0.455529  1.250692  0.324122  floor  none
14 -0.991762  1.328619  1.605087  0.216845  floor  none
16 -0.788857 -0.434511  1.651096 -0.196294  floor  none
17 -0.079085  0.252427 -0.549940 -0.316898  floor  none
19  0.855804  0.174805 -0.121944 -1.157168  floor  none
20  0.509773 -0.539608 -0.318501  0.513616  ddddd  none
22  0.496092 -0.672942  1.365315 -0.413600  ddddd  none
23 -1.195208  0.455529  1.250692  0.324122  ddddd  none
25  0.068954 -1.084142  0.155389 -0.436742  ddddd  none
26 -0.788857 -0.434511  1.651096 -0.196294  ddddd  none
28  1.137373 -0.913777 -1.497667  2.093473  ddddd  none
29  0.855804  0.174805 -0.121944 -1.157168  ddddd  none

In [5]:
df1_none_dup = df1_none.drop_duplicates(subset='a')
df1_none_dup

           a         b         c         d   dogs stage
1  -0.617985  1.085005  0.620772  0.431865  piple  none
3  -1.195208  0.455529  1.250692  0.324122  piple  none
5   0.068954 -1.084142  0.155389 -0.436742  piple  none
7  -0.079085  0.252427 -0.549940 -0.316898  piple  none
8   1.137373 -0.913777 -1.497667  2.093473  piple  none
9   0.855804  0.174805 -0.121944 -1.157168  piple  none
14 -0.991762  1.328619  1.605087  0.216845  floor  none
16 -0.788857 -0.434511  1.651096 -0.196294  floor  none
20  0.509773 -0.539608 -0.318501  0.513616  ddddd  none
22  0.496092 -0.672942  1.365315 -0.413600  ddddd  none

## solution 2：

In [6]:
df2 = df.copy()

In [7]:
df2 = pd.melt(df2,id_vars=list('abcd'), var_name='dogs')
df2

           a         b         c         d   dogs  value
0   0.509773 -0.539608 -0.318501  0.513616  piple  piple
1  -0.617985  1.085005  0.620772  0.431865  piple   none
2   0.496092 -0.672942  1.365315 -0.413600  piple  piple
3  -1.195208  0.455529  1.250692  0.324122  piple   none
4  -0.991762  1.328619  1.605087  0.216845  piple  ddddd
5   0.068954 -1.084142  0.155389 -0.436742  piple   none
6  -0.788857 -0.434511  1.651096 -0.196294  piple  piple
7  -0.079085  0.252427 -0.549940 -0.316898  piple   none
8   1.137373 -0.913777 -1.497667  2.093473  piple   none
9   0.855804  0.174805 -0.121944 -1.157168  piple   none
10  0.509773 -0.539608 -0.318501  0.513616  floor  floor
11 -0.617985  1.085005  0.620772  0.431865  floor   none
12  0.496092 -0.672942  1.365315 -0.413600  floor  floor
13 -1.195208  0.455529  1.250692  0.324122  floor   none
14 -0.991762  1.328619  1.605087  0.216845  floor   none
15  0.068954 -1.084142  0.155389 -0.436742  floor  floor
16 -0.788857 -0.434511  1.651096 -0.196294  floor   none
17 -0.079085  0.252427 -0.549940 -0.316898  floor   none
18  1.137373 -0.913777 -1.497667  2.093473  floor  floor
19  0.855804  0.174805 -0.121944 -1.157168  floor   none
20  0.509773 -0.539608 -0.318501  0.513616  ddddd   none
21 -0.617985  1.085005  0.620772  0.431865  ddddd  ddddd
22  0.496092 -0.672942  1.365315 -0.413600  ddddd   none
23 -1.195208  0.455529  1.250692  0.324122  ddddd   none
24 -0.991762  1.328619  1.605087  0.216845  ddddd  ddddd
25  0.068954 -1.084142  0.155389 -0.436742  ddddd   none
26 -0.788857 -0.434511  1.651096 -0.196294  ddddd   none
27 -0.079085  0.252427 -0.549940 -0.316898  ddddd  ddddd
28  1.137373 -0.913777 -1.497667  2.093473  ddddd   none
29  0.855804  0.174805 -0.121944 -1.157168  ddddd   none

```python

# Keep one of 3 duplicates with 'None'
dup_df1 = archive_clean.drop_duplicates(subset=['tweet_id', 'dog_stage']) 
dup_df1 = archive_clean.drop_duplicates()

# Keep rows with dog stage
dup_pos = archive_clean.duplicated(subset='tweet_id', keep = False)
dup_df2 = archive_clean[dup_pos]
dup_df2 = dup_df2[dup_df2.dog_stage != 'None']

# Combine
dup_df1 = dup_df1.drop_duplicates(subset = 'tweet_id', keep = False)
dup_df_merged = dup_df1.append(dup_df2)
```

## solution3:

错误？

In [8]:
df2 = df2.sort_values('value').drop_duplicates(subset='a', keep='last')
df2

           a         b         c         d   dogs  value
14 -0.991762  1.328619  1.605087  0.216845  floor   none
9   0.855804  0.174805 -0.121944 -1.157168  piple   none
8   1.137373 -0.913777 -1.497667  2.093473  piple   none
7  -0.079085  0.252427 -0.549940 -0.316898  piple   none
5   0.068954 -1.084142  0.155389 -0.436742  piple   none
3  -1.195208  0.455529  1.250692  0.324122  piple   none
1  -0.617985  1.085005  0.620772  0.431865  piple   none
6  -0.788857 -0.434511  1.651096 -0.196294  piple  piple
2   0.496092 -0.672942  1.365315 -0.413600  piple  piple
0   0.509773 -0.539608 -0.318501  0.513616  piple  piple

## solution4

In [9]:
df3 = df.copy()
df3

          a         b         c         d  piple  floor  ddddd
0  0.509773 -0.539608 -0.318501  0.513616  piple  floor   none
1 -0.617985  1.085005  0.620772  0.431865   none   none  ddddd
2  0.496092 -0.672942  1.365315 -0.413600  piple  floor   none
3 -1.195208  0.455529  1.250692  0.324122   none   none   none
4 -0.991762  1.328619  1.605087  0.216845  ddddd   none  ddddd
5  0.068954 -1.084142  0.155389 -0.436742   none  floor   none
6 -0.788857 -0.434511  1.651096 -0.196294  piple   none   none
7 -0.079085  0.252427 -0.549940 -0.316898   none   none  ddddd
8  1.137373 -0.913777 -1.497667  2.093473   none  floor   none
9  0.855804  0.174805 -0.121944 -1.157168   none   none   none

In [10]:
df3_stage = df3[['piple', 'floor', 'ddddd']]
df3_stage

   piple  floor  ddddd
0  piple  floor   none
1   none   none  ddddd
2  piple  floor   none
3   none   none   none
4  ddddd   none  ddddd
5   none  floor   none
6  piple   none   none
7   none   none  ddddd
8   none  floor   none
9   none   none   none

In [11]:
df3_stage = df3_stage.replace('none', '')
df3_stage

   piple  floor  ddddd
0  piple  floor
1                ddddd
2  piple  floor
3
4  ddddd         ddddd
5         floor
6  piple
7                ddddd
8         floor
9

In [12]:
#stage = np.array(df3_stage.piple) + np.array(df3_stage.floor) + np.array(df3_stage.ddddd)
#stage

In [13]:

stage = pd.DataFrame((df3_stage.piple + df3_stage.floor + df3_stage.ddddd), columns=['dog_stage'])
stage

    dog_stage
0  piplefloor
1       ddddd
2  piplefloor
3
4  dddddddddd
5       floor
6       piple
7       ddddd
8       floor
9

In [14]:
stage.dog_stage.value_counts()

floor         2
              2
piplefloor    2
ddddd         2
piple         1
dddddddddd    1
Name: dog_stage, dtype: int64

In [15]:
stage[stage.dog_stage == 'piplefloor'] = 'multi'
stage[stage.dog_stage == 'dddddddddd'] = 'multi'

In [16]:
stage

  dog_stage
0     multi
1     ddddd
2     multi
3
4     multi
5     floor
6     piple
7     ddddd
8     floor
9

In [17]:
stage.dog_stage.value_counts()

multi    3
ddddd    2
floor    2
         2
piple    1
Name: dog_stage, dtype: int64

In [18]:
df3 = pd.concat([df3, stage], axis=1)
df3

          a         b         c         d  piple  floor  ddddd dog_stage
0  0.509773 -0.539608 -0.318501  0.513616  piple  floor   none     multi
1 -0.617985  1.085005  0.620772  0.431865   none   none  ddddd     ddddd
2  0.496092 -0.672942  1.365315 -0.413600  piple  floor   none     multi
3 -1.195208  0.455529  1.250692  0.324122   none   none   none
4 -0.991762  1.328619  1.605087  0.216845  ddddd   none  ddddd     multi
5  0.068954 -1.084142  0.155389 -0.436742   none  floor   none     floor
6 -0.788857 -0.434511  1.651096 -0.196294  piple   none   none     piple
7 -0.079085  0.252427 -0.549940 -0.316898   none   none  ddddd     ddddd
8  1.137373 -0.913777 -1.497667  2.093473   none  floor   none     floor
9  0.855804  0.174805 -0.121944 -1.157168   none   none   none

In [19]:
df3 = df3.drop(['piple', 'floor', 'ddddd'], 1)
df3

          a         b         c         d dog_stage
0  0.509773 -0.539608 -0.318501  0.513616     multi
1 -0.617985  1.085005  0.620772  0.431865     ddddd
2  0.496092 -0.672942  1.365315 -0.413600     multi
3 -1.195208  0.455529  1.250692  0.324122
4 -0.991762  1.328619  1.605087  0.216845     multi
5  0.068954 -1.084142  0.155389 -0.436742     floor
6 -0.788857 -0.434511  1.651096 -0.196294     piple
7 -0.079085  0.252427 -0.549940 -0.316898     ddddd
8  1.137373 -0.913777 -1.497667  2.093473     floor
9  0.855804  0.174805 -0.121944 -1.157168

In [23]:
df3.dog_stage[df3.dog_stage == 'multi'] = 0
df3

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

          a         b         c         d dog_stage
0  0.000000  0.000000  0.000000  0.000000         0
1 -0.617985  1.085005  0.620772  0.431865     ddddd
2  0.000000  0.000000  0.000000  0.000000         0
3 -1.195208  0.455529  1.250692  0.324122
4  0.000000  0.000000  0.000000  0.000000         0
5  0.068954 -1.084142  0.155389 -0.436742     floor
6 -0.788857 -0.434511  1.651096 -0.196294     piple
7 -0.079085  0.252427 -0.549940 -0.316898     ddddd
8  1.137373 -0.913777 -1.497667  2.093473     floor
9  0.855804  0.174805 -0.121944 -1.157168

In [ ]:
def combile_single(df):
    
    df = df.replace('none', '')
   
    for i in list(df):
        s = df[i]
    
        s += df[i]
        catigoral = pd.DataFrame(s, columns=['dog_stage'])
    return catigoral